.cardPost {
     border-radius: 10px;
     width: 100%;
     padding: 20px;
 }

 textarea {
     padding: 15px 20px;
     border-radius: 10px;
     box-sizing: border-box;
     color: black;
     border: 1px solid #F5F5F5;
     font-size: 16px;
     letter-spacing: 1px;
     height: 120px !important;
     width: 100%
 }

 textarea:focus {
     -moz-box-shadow: none !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     border: 1px solid #00C853 !important;
     outline-width: 0 !important
 }

 select {
     border: none;
     font-size: 15px;
     background-color: #fff !important
 }

 select:focus {
     -moz-box-shadow: none !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     outline-width: 0 !important
 }

 ::placeholder {
     color: black
 }

 :-ms-input-placeholder {
     color: black
 }

 ::-ms-input-placeholder {
     color: black
 }

 .btn-success {
     border-radius: 50px;
     padding: 4px 40px
 }

 .options {
     font-size: 23px;
     color: #757575;
     cursor: pointer
 }

 .options:hover {
     color: #000
 }